.footer{
  padding: 40px 40px !important;
  margin-top: 0px !important;
  background-color: #132530;
}
.collection__view-all{
  padding: 0px 20px;
}
.collection__view-all .button-text{
    font-size: 14px;
    padding: 15px 15px;
}
.footer__content-top {
    padding-bottom: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.newsletter-form {
    max-width: 100% !important;
}
.footer__content-bottom {
  display: none;
}
.custom-footer-block1 img{
  max-width: 300px;
}
.footer .field:before{
  display: none;
}
.footer .field:after{
  display: none;
}
.newsletter-form__field-wrapper .field__input {
    border-radius: 5px;
    background-color: #F5F5F5d4;
    color: #000;
}
.footer .field__label{
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.footer .page-width {
    padding: 0rem;
}

.custom-footer-block2{
  margin-top: 10px;
}
.footer-block__newsletter{
  text-align: left;
}
.custom-footer-block{
  max-width: 34% !important;
  width: 100%;
  margin-bottom: 20px;
}
.footer__content-top .grid {
    row-gap: 1rem;
    margin-bottom: 0;
    max-width: 64% !important;
}
.footer__list-social.list-social:only-child {
    justify-content: flex-start;
}
.newsletter-form {
    align-items: flex-start !important;
}
.smile-launcher-frame-container{
  bottom: 0px !important;
}
.list-social {
    justify-content: flex-start !important;
}
.list-social__link {
    padding: 0.7rem !important;
}
.related-product-details a{
    text-decoration: none;
}
.footer .newsletter-form__button img{
    width: 100%
}

 @media screen and (max-width: 990px) {
              .footer{
                padding:20px 20px !important;
              }
   .custom-footer-block{
      max-width: 100% !important;
}
.footer__content-top .grid {
    max-width: 100% !important;
}
   .footer__content-top {
    padding-bottom: 3rem;
    padding-left: calc(0rem / var(--font-body-scale)) !important;
    padding-right: calc(0rem / var(--font-body-scale)) !important;
}
   .footer-block__details-content .list-menu__item--link {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
   .footer-block.grid__item {
    padding: 0;
    margin: 1rem 0 !important;
    width: 100%;
}
   .footer-block__details-content {
    margin-bottom: 0rem;
}
   .footer__list-social.list-social {
    justify-content: flex-start !important;
}
 }


 .custom-footer-block1 h3{
  margin: 0;
  color: #A7ADB4;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 120%; 
}
.footer-block__heading{
  color: #F68E1E;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.72px;
}
.footer-block__details-content li a{
  color: #A7ADB4 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.6px;
}
.icons h3{
  color: #F68E1E;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
}
.footer__content-top{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.footer-block__newsletter{
  display: none;
}
@media only screen and (max-width: 767px){
  .footer-block__details-content li a{
    font-size: 16px !important;
  }
}
